# SPDX-License-Identifier: Apache-2.0
* text=auto eol=lf
*.bat text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
.github export-ignore
src/ray/klein/observability/dashboard/static export-ignore
